//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//fonts
$default-fonts-size: 1.6rem;

//colours
$color-primary-dark:rgba(0, 162, 232, 0.699);
$color-primary-light:rgba(153, 217, 234, 0.438);
$color-grey-light-1:#f7f7f7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


//#7ed56fda
//#28b485e0
//
//